@media (max-width: 725px) {

    /* section6 */
    .section6_div {
        column-gap: 127px;
    }

    .section6_h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .section6_sort_button {
        padding: 6px 15px 5px 15px;
        font-size: 16px;
        align-items: center;
    }


    .section6_figure {
        width: 432px;
    }


    .section6_price_div {
        gap: 278px;
    }

    .page_numbers_button {
        width: 40px;
        height: 40px;
        padding: 9px 0;
    }

    .page4_button {
        display: none;
    }
}

@media (max-width: 680px) {

    /* header */
    .header {
        padding: 9px 20px;
    }

    /* section1 */
    .section1 {
        background-image: url(../images/homepage/cover1_2.png);
        height: 304px;
        padding-top: 92px;
        padding-bottom: 92px;
    }

    .section1_div {
        gap: 32px;
    }

    .section1_h2 {
        font-size: 32px;
    }

    /* section3 */
    .section3_h3 {
        text-align: center;
        font-size: 40px;
        font-size: 32px;
        margin-left: 0;
    }

    /* section4 */
    .section4 {
        background-image: url(../images/homepage/cover2_2.png);
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .email_input {
        width: 216px;
        padding: 19px 93px 18px 16px;
    }

    .section4_button {
        padding: 16px 20px 16px 21px;
        font-size: 16px;
        line-height: 24px;
    }

    /* footer */
    footer {
        padding: 32px 123px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
    }

    .footer_div {
        align-items: center;
        row-gap: 32px;

    }

    .footer_help_ul {
        align-items: center;

    }

    .footer_contact_ul {
        flex-direction: row;
    }

    .footer_span {
        display: none;
    }

    /* section5 */
    .section5_h2 {
        font-size: 32px;
        line-height: normal;
    }

    .search_input {
        width: 228px;
    }
    /* section7 */
    .section7 {
        padding-top: 80px;
        padding-bottom: 80px;
        height: 560px;
    }
    .section7_form {
        width: 432px;
        padding: 24px 20px; 
    }
    .section7_form_h2 {
        font-size: 32px;
        line-height: normal;
        margin-bottom: 13px;
    }
    .section7_text_email_div {
        column-gap: 72px;
    }
    .section7_text_input, .section7_email_input  {
        width: 100%;
        padding: 11px 86px 12px 8px;
    }
    textarea {
        width: 100%;
        padding-right: 324px;
    }
}